<div class="list-group" style="text-align:center ; color: rgb(255, 255, 255) ;  background-color:rgb(90, 90, 90);"  >
  <br>
  <h2>ระบบส่งการบ้าน</h2>
  <br>
  <a href="/send" class="list-group-item-danger list-group-item-action ">
    <img width="250" alt="Angular Logo" src="assets/images/paper-plane.svg"><br><br>
    <h2> ส่งการบ้าน </h2> 
  </a>
  <a href="/login" class="list-group-item-success list-group-item-action">
    <img width="250" alt="Angular Logo" src="assets/images/settings.svg"><br><br>
    <h2> จัดการวิชา และการบ้าน </h2>
  </a>
</div>